
@media print {
    p,span,table{
      line-height: 20px;font-size: 11px !important;
      font-family: 'Times New Roman','Khmer OS Battambang';
    }
    .center{text-align: center !important;}
    table.content-data{
        font-family: 'Times New Roman','Khmer OS Battambang';
        border-collapse:collapse;
        border:1px solid #000 !important; 
        font-size:8px;
        width:100%;
    }
    table.content-data thead tr {
        font-family: 'Times New Roman','Khmer OS Battambang';
        line-height: 25px; 
        font-size:10px !important; 
        padding:1px 0px; 
        white-space: nowrap;
        height: 22px; 
        background: #c1d0f3;
        font-weight:600;
        color: black;
    }

    table tr td{
        padding:0px 1px;
    }

    td.centerText{
        text-align: center;
    }

    table.content-data tr td{
        padding: 2px;
        border:1px solid #000 !important; 
    }	
    .nowrap{white-space:nowrap;}
    .wrapcontent{width:300px;white-space:normal;}
    .smallwrap{width: 150px;white-space:normal;}
 
    @page{
      margin:0.7cm;
      page-break-before: avoid;
      -webkit-transform: scale(0.5);  /* Chrome, Safari 3.1+  */
      -moz-transform: scale(0.5);  /* Firefox 3.5-15 */
      -ms-transform: scale(0.5);   /* IE 9 */
      -o-transform: scale(0.5);    /* Opera 10.50-12.00 */
      transform: scale(0.5);
      size: A4 landscape;
    }
}